%h1 Listing heal_groups

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @heal_groups.each do |heal_group|
      %tr
        %th= "Group Name:  "
        %th= "Start Date:  "
        %th= "Modify:      "
      %tr
        %td= heal_group.name
        %td= heal_group.start_date
        %td= link_to 'Show', heal_group
        %td= link_to 'Edit', edit_heal_group_path(heal_group)
        %td= link_to 'Destroy', heal_group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Heal group', new_heal_group_path
