%tr
  %td
    = healgroup.name
  %td
    = healgroup.start_date
  %td
    = User.where("heal_group_name = '#{healgroup.name}'").length
  %td
    = table_link_to 'eye', 'Show', admin_healgroup_path(healgroup)
    = table_link_to 'pencil', 'Edit', edit_admin_healgroup_path(healgroup)
    = table_link_to 'trash', 'Delete', admin_healgroup_path(healgroup), method: :delete

